.background {
  background-image: url("../../image/banner1.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;

  align-items: center;
}
.home-card {
  background-color: #4676ef;
  border-top: 12px solid #6c94f2;

  color: white;
  box-shadow: -10px 10px 0px #6c94f2;
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.home-card h4,
p {
  display: inline;
}

.banner-card {
  background-color: #4676ef;
  color: white;
}
.description {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: relative;
  height: 50vh;
}
.description-card {
  background-color: #f3f2f0;
  position: absolute;

  top: -80px;
}
.description-text h5 {
  color: rgb(153, 148, 148);
}
.description h3 {
  color: #6f93ee;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

@media (max-width: 940px) {
  .description {
    height: 95vh;
  }
}
